{% extends "layout.html" %}

{% block heading %}
  Book Search
{% endblock %}

{% block body %}
  <label for="search_option">Search by: </label>
  <select name="search_option" id="search_options" form='searchform'>
    <option value="isbn">isbn</option>
    <option value="title">title</option>
    <option value="author">author</option>
  </select>

  <form action="{{url_for('search')}}" method="post" id='searchform'>
    <input class="form-control" id="search_box" name="search_box" aria-describedby="search_box" placeholder="Enter ISBN, title or author of the book">
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
{% endblock %}
